#page-body {}
#page-header {
  background-color: #fff;
  background-repeat: repeat-x;
  padding-top: 1px;
  border-bottom: 1px solid #777;
  .logo {
    display : inline-block;
    margin-top : 20px;
    margin-left : 100px;
    padding-bottom : 10px;
    img {
      float : left;
    }
    h1 {
      display : inline;
      line-height : 80px;
      vertical-align : middle;
      padding : 0;
      margin : 0;
      font-weight: 100;
      font-family: "Open Sans", sans-serif;
      color: #1471B1;
      margin-left: 20px;
      //text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    }
  }
}
#page-content {
  h1 {
    //background-color: #567283;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 2.2em;
    color: #003366;
    text-align: left;
    border-bottom: 1px solid #003366;
    width: 40%;
  }
  .page-menu {
    text-align: left;
    margin: auto;
    margin-bottom : 20px;
  }
}
#page-footer {
  clear: both;
  font-size: 11px;
  text-align: center;
  padding: 25px 0;
  color: #555;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
  height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 60px;
}

.t-center {
  text-align: center !important;
}