body {
  background-color: #f9f9f9;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  label {
    color: #b94a48;
  }
  input {
    border-color: #b94a48;
  }
  textarea {
    border-color: #b94a48;
  }
  select {
    border-color: #b94a48;
  }
}

#error_explanation {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eed3d7;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0px 5px 0px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-rendering: optimizelegibility;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
